.navbar {
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 80px;
    padding-left: 50px;
    font-size: 20px;
    z-index: 1;
}

.navbar-logo {
    height: 80px;
    line-height: 80px;
    color: white;
    cursor: pointer;
}

.navbar-logo > img {
    height: 80px;
}

.scrolling {
    background-color: rgb(59, 46, 89);
    transition: all 0.5s ease;
}

.card__binario{
    height: 10px;
    color: rgba(255, 255, 255, 0.03);
    font-size: 30px;
    text-align: center;
    line-height : 30px;
    position: fixed;
    z-index: -1;
    bottom: 1;
    left: 0;    
}